.text-center {
  text-align: center;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.w-full {
  width: 100%;
}

button mat-icon {
  margin-right: 0.5rem;
}

mat-chip {
  text-transform: capitalize;
}
